.root {
-fx-background-color: rgba(77, 150, 96, .80);
}
.button{

-fx-text-fill:rgba(187, 250, 194, 1);
-fx-background-color: transparent;

}

.button:hover {
    -fx-text-fill: yellow;
}

#choresCloseButton{
-fx-font-size: 10pt;
}

#choresMinButton{
-fx-font-size: 10pt;
}


#MessagesHeader{
-fx-font-family: Sawasdee;
-fx-font-size: 35pt;
-fx-text-background-color: yellow;
}

#messagesNotes{
-fx-text-background-color:  rgba(255, 255, 255, 1);
-fx-font-family: Serif Bold;
-fx-background-color: transparent;
}