.root {
-fx-background-color: rgba(100,98,75,0.80);
}


.button{

-fx-text-fill: rgba(254, 225, 187, 1);
-fx-background-color: transparent;

}

.button:hover {
    -fx-text-fill: yellow;
}

#choresCloseButton{
-fx-font-size: 10pt;
}

#choresMinButton{
-fx-font-size: 10pt;
}


#choresBannerText{
-fx-font-family: Sawasdee;
-fx-font-size: 35pt;
-fx-text-background-color: yellow;
}

#choresNotes{
-fx-text-background-color:  rgba(255, 255, 255, 1);
-fx-font-family: Serif Bold;
-fx-background-color: transparent;
}