.root {
-fx-background-color: rgba(65, 150, 180, .80);
}

.button{

-fx-text-fill: rgba(255, 255, 255, 1);
-fx-background-color: transparent;

}

.button:hover {
    -fx-text-fill: yellow;

}

#weatherCloseButton{
-fx-font-size: 10pt;
}

#weatherMinButton{
-fx-font-size: 10pt;
}

#WeatherHeader{
-fx-font-family: Sawasdee;
-fx-font-size: 35pt;
-fx-text-background-color: yellow;
}

#Observations{
-fx-text-background-color:  rgba(255, 255, 255, 1);
-fx-font-family: Serif Bold;
-fx-font-size: 16pt;
-fx-background-color: transparent;
}

#stationOutput{
-fx-text-background-color:  rgba(255, 255, 255, 1);
-fx-font-family: Serif Bold;
-fx-font-size: 14pt;
-fx-background-color: transparent;
}

#webViewer{
-fx-background-color: transparent;
}

#observationsText{
-fx-text-background-color:  rgba(255, 255, 255, 1);
-fx-font-family: Serif Bold;
-fx-font-size: 14pt;
-fx-background-color: transparent;
}