.root{
-fx-background-color: transparent;
}

.button{
    -fx-background-color:
        #588760,
          radial-gradient(center 40% 2%, radius 60%, #FFFFC5 10%, #205B30 250%),
                 radial-gradient(center 15% 10%, radius 40%,  #FFFFFF 2%, rgba(230,230,200,0)15%),
                 radial-gradient(center 50% 120%, radius 85%,  #40A03A  20%, rgba(230,230,200,0)80%);
            -fx-background-radius: 30;
            -fx-background-insets: 0,1,1;
            -fx-text-fill: yellow;
}

#choresButton{
     #588760,
          radial-gradient(center 40% 2%, radius 60%, #FFFFC5 10%, #205B30 250%),
                 radial-gradient(center 15% 10%, radius 40%,  #FFFFFF 2%, rgba(230,230,200,0)15%),
                 radial-gradient(center 50% 120%, radius 85%,  #40A03A  20%, rgba(230,230,200,0)80%);
            -fx-background-radius: 30;
            -fx-background-insets: 0,1,1;
            -fx-text-fill: yellow;
            -fx-font-size: 30;

}
